@font-face {
	font-family: 'HelveticaNeueCyr';
	src: local('HelveticaNeueCyr-Medium'),
		url('../fonts/HelveticaNeue/HelveticaNeueCyr-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: local('HelveticaNeueCyr-Heavy'),
		url('../fonts/HelveticaNeue/HelveticaNeueCyr-Heavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: local('HelveticaNeueCyr-HeavyItalic'),
		url('../fonts/HelveticaNeue/HelveticaNeueCyr-HeavyItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: local('HelveticaNeueCyr-Black'),
		url('../fonts/HelveticaNeue/HelveticaNeueCyr-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: local('HelveticaNeueCyr-UltraLightItalic'),
		url('../fonts/HelveticaNeue/HelveticaNeueCyr-UltraLightItalic.woff') format('woff');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: local('HelveticaNeueCyr-BlackItalic'),
		url('../fonts/HelveticaNeue/HelveticaNeueCyr-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: local('HelveticaNeueCyr-ThinItalic'),
		url('../fonts/HelveticaNeue/HelveticaNeueCyr-ThinItalic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: local('HelveticaNeueCyr-MediumItalic'),
		url('../fonts/HelveticaNeue/HelveticaNeueCyr-MediumItalic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: local('HelveticaNeueCyr-LightItalic'),
		url('../fonts/HelveticaNeue/HelveticaNeueCyr-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: local('HelveticaNeueCyr-UltraLight'),
		url('../fonts/HelveticaNeue/HelveticaNeueCyr-UltraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: local('HelveticaNeueCyr-BoldItalic'),
		url('../fonts/HelveticaNeue/HelveticaNeueCyr-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: local('HelveticaNeueCyr-Italic'),
		url('../fonts/HelveticaNeue/HelveticaNeueCyr-Italic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: local('HelveticaNeueCyr-Roman'),
		url('../fonts/HelveticaNeue/HelveticaNeueCyr-Roman.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: local('HelveticaNeueCyr-Bold'),
		url('../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: local('HelveticaNeueCyr-Light'),
		url('../fonts/HelveticaNeue/HelveticaNeueCyr-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('HelveticaNeueCyr-Thin.eot');
	src: local('HelveticaNeueCyr-Thin'),
		url('../fonts/HelveticaNeue/HelveticaNeueCyr-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

//Bandera Pro

@font-face {
	font-family: 'Bandera Pro';
	src: local('Bandera Pro Thin'), local('BanderaProThin'),
		url('../fonts/BanderaPro/BanderaProThin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Bandera Pro';
	src: local('Bandera Pro Medium'), local('BanderaProMedium'),
		url('../fonts/BanderaPro/BanderaProMedium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Bandera Pro';
	src: local('Bandera Pro Light Italic'), local('BanderaProLight-Italic'),
		url('../fonts/BanderaPro/BanderaProLight-Italic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Bandera Pro';
	src: local('Bandera Pro Heavy Italic'), local('BanderaProHeavy-Italic'),
		url('../fonts/BanderaPro/BanderaProHeavy-Italic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Bandera Pro';
	src: local('Bandera Pro Italic'), local('BanderaPro-Italic'),
		url('../fonts/BanderaPro/BanderaPro-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Bandera Pro';
	src: local('Bandera Pro Light'), local('BanderaProLight'),
		url('../fonts/BanderaPro/BanderaProLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Bandera Pro';
	src: local('Bandera Pro Medium Italic'), local('BanderaProMedium-Italic'),
		url('../fonts/BanderaPro/BanderaProMedium-Italic.woff') format('woff');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Bandera Pro';
	src: local('Bandera Pro Bold'), local('BanderaPro-Bold'),
		url('../fonts/BanderaPro/BanderaPro-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Bandera Pro';
	src: local('Bandera Pro Thin Italic'), local('BanderaProThin-Italic'),
		url('../fonts/BanderaPro/BanderaProThin-Italic.woff') format('woff');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Bandera Pro';
	src: local('Bandera Pro Regular'), local('BanderaPro'),
		url('../fonts/BanderaPro/BanderaPro.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bandera Pro';
	src: local('Bandera Pro Heavy'), local('BanderaProHeavy'),
		url('../fonts/BanderaPro/BanderaProHeavy.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Bandera Pro';
	src: local('Bandera Pro Bold Italic'), local('BanderaPro-BoldItalic'),
		url('../fonts/BanderaPro/BanderaPro-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
