@keyframes spread-menu {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(60);
    }
}

@keyframes show-menu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes show-menu-list {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
