.about {
    padding: 60px 40px;
    font-size: 14px;
    h3 {
        margin: 30px 0 15px;
        font-size: 16px;
        font-weight: 700;
    }
    background: #e8e2dd url('../img/baby.png') 43% 100% no-repeat;
    background-size: auto;
}

@media screen and (max-width: $breakpoint-medium) {
    .about {
        padding: 40px 20px;
        background-image: none;
    }
}
