.calculations {
  position: relative;
  top: -128px;
}

.calculations__wrapper {
  display: flex;
  justify-content: center;
  @media (max-width: $breakpoint-medium) {
    flex-direction: column;
    align-items: center;
  }
}
