.header-tel__number {
    color: #000;
    font-size: 24px;
    line-height: 1;
    white-space: nowrap;
    &:hover {
        text-decoration: none;
        .header-tel__icon {
            fill: $theme-color-1;
        }
    }
}

.header-tel__note {
    color: #999;
    text-transform: uppercase;
    text-align: right;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
}