.header {
    background: #fff;
    border-bottom: 1px solid #dad9dc;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__logo {
    margin: 8px 12px;
    img {
        width: 220px;
        height: 50px;
    }
}

.header__main-nav {
    margin: 8px 12px;
}

.header__header-tel {
    margin: 8px 12px;
}

.header__menu-btn-wrapper {
    position: relative;
}

.header__menu-btn-decor {
    display: none;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: $theme-color-2;
    border-radius: 50%;
}

@media screen and (max-width: $breakpoint-medium) {
    .header__header-tel {
        display: none;
    }
    .header__main-nav {
        margin: 0;
    }
    .header__menu-btn-decor  {
        display: block;
    }
}